<div>

    {{#each model as |message|}}
    <div class="incoming_msg">
        <div class="received_msg">
            <div class="received_withd_msg">
                <p>
                    {{message}}
                </p><span class="time_date"> {{currentDate}}</span>
            </div>
        </div>
    </div>
    {{/each}}

</div>